:root {
  --heading-font: "Playfair Display ", serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #6c63ff;
  --secondary-color: #ede9fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

h1 {
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 96px;
}

h2 {
  font-size: 64px;
  margin-top: 50px;
}

p {
  font-family: var(--secondary-font);
  line-height: 30px;
}

.hero h2 {
  font-family: var(--secondary-font);
  font-weight: normal;
  font-size: 24px;
}

.hero p {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
}

.hero {
  text-align: center;
  padding: 200px;
  background-color: var(--secondary-color);
}

.btn-branding {
  background-color: var(--primary-color);
  font-family: var(--secondary-font);
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}
.btn-projects {
  background-color: white;
  font-family: var(--secondary-font);
  padding: 15px 20px;
  font-size: 16px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  text-decoration: none;
}
