:root {
  --heading-font: "Playfair Display ", serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #6c63ff;
  --secondary-color: #ede9fa;
}

body {
  margin-bottom: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

h1 {
  font-weight: bold;
  font-style: normal;
  font-size: 96px;
}

h2 {
  font-size: 60px;
  margin-top: 30px;
}

h3 {
  font-family: var(--secondary-font);
  font-size: 24px;
}

p {
  font-family: var(--secondary-font);
  line-height: 30px;
}

i {
  font-size: 25px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 50px;
  padding: 12px 10px;
  box-sizing: content-box;
  margin-left: 25px;
}

.hero h2 {
  font-family: var(--secondary-font);
  font-weight: normal;
  font-size: 24px;
}

.hero p {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
}

.hero {
  text-align: center;
  padding: 200px;
  background-color: var(--secondary-color);
}

.btn-branding {
  background-color: var(--primary-color);
  font-family: var(--secondary-font);
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}
.btn-projects {
  background-color: white;
  font-family: var(--secondary-font);
  padding: 15px 20px;
  font-size: 16px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  text-decoration: none;
}

.project-descriptions {
  margin: 20px;
}

.btn-inquiry {
  background-color: var(--primary-color);
  font-family: var(--secondary-font);
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  margin-left: 200px;
}

.footer-container {
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 10px;
  margin-top: 50px;
}

.footer-container p {
  opacity: 60%;
}

.icons {
  margin-top: 40px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 45px;
    text-align: center;
  }

  h2 {
    font-size: 40px;
    margin-top: 20px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .hero p {
    font-size: 28px;
  }

  .project-descriptions {
    text-align: center;
  }

  .hero {
    padding: 35px;
  }
}
