h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
