:root {
  --heading-font: "Playfair Display ", serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #6c63ff;
  --secondary-color: #ede9fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

h1 {
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 96px;
}

i {
  margin: 20px;
}

img {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
}

.hero h2 {
  font-family: var(--secondary-font);
  font-weight: normal;
  font-size: 24px;
}

.hero p {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
}

.hero {
  text-align: center;
  padding: 200px;
  background-color: var(--secondary-color);
}

.btn-branding {
  background-color: var(--primary-color);
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  color: white;
}

.btn-branding:hover {
  border: 1px solid var(--primary-color);
  background-color: white;
  transition: ease-in-out 200ms;
  color: var(--primary-color);
}

.footer-info {
  display: block;
  margin: auto;
  background-color: var(--secondary-color);
  padding: 10px;
  max-width: 91%;
  border-radius: 8px;
}

.icons {
  color: #6c63ff;
  font-size: 20px;
  margin: 20px;
}

.mid-container h3 {
  font-size: 40px;
  font-weight: bold;
}
.mid-container p {
  font-size: 20px;
}
